
.main-container {
  background-color: #27282c;
  min-height: 100vh;
  font-size: 2em;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 3rem;
}